/* Import Google Font Poppins  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    /* Colors */
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;

    /* Font-size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Font weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    
    /* Border-radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radium-circle: 50%;

    /* Site max width */
    --site-max-width: 1300px;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.555); 
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}
/* Common Code */
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}
img {
    width: 100%;
}
.m {
    margin: 80px 0;
}
.section-content{
    max-width: var(--site-max-width);
    margin: 0px auto;
}

/* Navbar */
header {
    background: var(--primary-color);
    position: fixed;
    width: 100%;
    z-index: 5;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo span {
    font-size: var(--font-size-xl);
    color: white;
    font-weight: var(--font-weight-bold);
}
nav .menu {
    display: flex;
    gap: 10px;
    padding: 30px 0px;
    z-index: 20;
}
nav .menu li {
    margin-left: 15px ;
}
nav .menu li a {
    padding: 14px 20px;
    color: var(--white-color);
    background: transparent;
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
    font-weight: var(--font-weight-bold);
}
nav .menu li a:hover {
    color: var(--white-color);
    background: var(--secondary-color);
}
.icon {
    display: none;
    }
/* End Navbar */
/* Hero Section */
.hero-section {
     background: var(--primary-color);
    }
    .hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    color: var(--white-color);
}
.hero-section .hero-content h1 {
    color: var(--secondary-color);
    font-size: var(--font-size-xxl);
}
.hero-section .hero-content h2 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-medium);
    margin-top: 8px;
    max-width: 70%;
}
.hero-section .hero-content p {
    color: var(--medium-gray-color);
    line-height: 28px;
    max-width: 70%;
    margin: 15px 0px;
    font-size: var(--font-size-m);
}
.hero-section .hero-content .hero-buttons {
    display: flex;
    gap: 22px;
    margin-top: 35px;
}
.hero-section .hero-content button {
    padding: 12px 30px;
    font-size: var(--font-size-l);
    border: 2px solid transparent;
    color: var(--dark-color);
    background: var(--secondary-color);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}
.hero-section .hero-content button:hover,.hero-section .hero-content .contact-us
 {
    border: 2px solid var(--white-color);
    color: var(--white-color);
    background: transparent;
}
.hero-section .hero-content .contact-us:hover {
    color: var(--dark-color);
    background: var(--secondary-color);
    border-radius: var(--border-radius-m);
}
.hero-section .hero-image {
    max-width: 500px;
}

/* About SEction Start */
.about-us-wrapper {
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    text-align: center;
}
.about-us-image {
    flex: 1;
    /* overflow: hidden; */
}
.about-us-content {
    flex: 1;
}
.about-us-image img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.about-us-content h1 {
    font-weight: bold;
    position: relative;
    font-size: var(--font-size-xl);
    margin-bottom: 45px;
}
.about-us-content h1::after {
    content: "";
    width: 100px;
    height: 6px;
    background: var(--secondary-color);
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.about-us-content p {
    color: var(--dark-color);
    font-size: var(--font-size-m);
    line-height: 28px;
    font-weight: 500;
}
.social-icon {
    display: flex;
    gap: 15px;
    margin-top: 25px;
    justify-content: center;
}
.social-icon button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid var(--dark-color);
    margin-top: 25px;
}



/* Responsive Design is Here */
@media (max-width: 900px) {
  /* এখানে যেসব CSS থাকবে সেগুলো 900px বা এর চেয়ে ছোট স্ক্রিনে কাজ করবে */
  :root {
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
  }
  nav {
    padding: 25px;
  }
  nav .menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 30px 0px;
    position: absolute;
    width: 300px;
    height: 100vh;
    left: -300px;
    top: 0;
    background: var(--white-color);
    position: absolute;
    transition: 0.3s;
    }
    nav .menu li {
        margin-top: 70px;
    }
    nav .menu li a {
        padding: 14px 20px;
        color: var(--dark-color);
        background: transparent;
        border-radius: var(--border-radius-m);
        transition: 0.3s ease;
        font-weight: var(--font-weight-bold);
    }
    .icon {
        display: block;
    }
    .fa-xmark {
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: var(--font-size-l);
    }
    .fa-bars {
        color: var(--white-color);
        font-size: var(--font-size-l);
    }

    /* Hero Section */
     .hero-wrapper {
        flex-direction: column-reverse;
        text-align: center;
        padding: 30px 20px 20px;
        gap: 50px;
        justify-content: center;
     }
     .hero-section .hero-image {
        max-width: 270px;
        /* margin-right: 0px; */
     }
     .hero-section .hero-content :is(h2, p)  {
        max-width: 100%;
     }
     .hero-section .hero-buttons {
        justify-content: center;
     }
     .hero-section .hero-content button {
    padding: 10px 25px;
     }

     /* About Us Section */
     .about-us-wrapper {
        flex-direction: column-reverse;
        gap: 40px;
    }
    .about-us-image img {
        width: 320px;
        height: 320px;
        object-fit: cover;
}
}
